@import "./mixins";

header {
  @include flexCenter(column,purple);

  color: $textColor;
  button{
    background: $primaryBtn;
    &:hover {
      background: red;
    }
    &::before {
      content: "Salam ";
    }
  }
}